html
{
	height:100%;
}

body
{
	height:100%;
	position: relative;
	top: 0;
}

.btn
{
	position: relative;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	height:36px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid;
	color: #333;
	background-color: #fff;
	border-color #ccc;
	border-radius: 4px;
	left: 100px;
}

.btn:hover
{
	background-color: #ddd;
}

a{
	color: black;
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.connexion
{
	position: absolute;
	left:50%;
	border: solid;
	width: 500px;
	padding-bottom: 50px;
	padding-top: 50px;
	margin: auto;
	margin-left:-250px;
	top:100px;
	border-radius: 8px;
}

.btn-connect
{
	position: relative;
	left: 100px;
}

.pseudo
{
	padding-left: 19px;
	padding-right: 19px; 

}

.index
{
	text-align: center
}


.input-form
{
	position: relative;
	width: 300px;
	border-radius: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 4px;
	margin-bottom: 10px;
	left: 100px;

}

.input-area
{
	height:100px;
	resize: none;
}

.reg
{
	position: relative;
	left: 120px;
}

.reg2
{
	position: relative;
	left:100px;
}

.erreur
{
	color: red;
	display:block;
	position: relative;
	left: 100px;
	top: 5px;
}

.deco
{
	display:inline-block;
	position:absolute;
	width:50%;
}

.btndeco
{
	left:100%;
	margin-left:-136px;
}

.block
{
	display: inline-block;
}

.cancel
{
	position: relative;
	left:-85px;
	
}

.btnl
{
	left:0px;
}

.langue
{
	display:inline-block;
	width:50%;
}
